<h1>Kazipper!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sequi quas quo beatae dolores voluptatibus facilis reiciendis eveniet accusamus illo. Laborum eaque earum eos libero voluptatem. Sapiente deleniti natus ipsam!</p>
<form [formGroup]="form" (submit)="getWeather()">
  <div class="input-group">
    <input type="number" formControlName="zip" class="form-control" />
    <button class="btn btn-outline-primary">Show temperature</button>
  </div>
</form>

<div *ngIf="errorMessage" class="alert alert-danger mt-4" role="alert">
  {{errorMessage}}
</div>

<div *ngIf="weather" class="card mt-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">City: {{weather.name}}</h5>
    <p class="card-text">Temperature: {{weather.temperature}} </p>
  </div>
</div>